/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* See color guide at the bottom*/

/* HEADER SECTION */


/* FEATURES SECTION */

.features-wrapper{
	background-color: #181f2a;
}
.features-section{
	color: #fff;
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	width: 70%;
	margin: auto;
}

.features-section div {
	width: 50%;
	margin-top: 10px;
	margin-bottom: 60px;
}

.features-section h4 {
	font-family: Raleway;
	font-weight: 700;
	font-size: 16px;
	padding-top: 25px;
	padding-bottom: 15px;
}

.security h4 {
	margin-top: -8px;
}

.any-file h4 {
	margin-top: 5px;
}

.features-section p {
	margin-left: 65px;
	font-family: open Sans;
	font-size: 13px;
	font-weight: 400;
}

.features-section .access-text, .features-section .any-file-text  {
	width: 68%;
}

.features-section .security-text, .features-section .collaboration-text {
	width: 75%;
}





/* PRODUCTIVE SECTION */


/* TESTIMONIAL SECTION */

/* FOOTER SECTION */


/*Color guide*/

/*Primary

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%) / 	#1c2431

- Dark Blue (main background): hsl(218, 28%, 13%) /	#181f2a

- Dark Blue (footer background): hsl(216, 53%, 9%) / #0b1523
- Dark Blue (testimonials background): hsl(219, 30%, 18%) / 	#202a3c

### Accent

- Cyan 
(inside call-to-action gradient): hsl(176, 68%, 64%) / 	#65e2d9
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%) / #339ecc

### Neutral

- White: hsl(0, 0%, 100%) / #fff